* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inherit", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 100;
}
.outer_wrapper {
  height: 60px;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-left: 20px;
  padding-right: 20px;
  float: none;
}
.delivery_p {
  font-size: 12px;
  color: #ccc;
  background-color: #131921;
}
.logo_logo_section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin-left: 10px;
}

.logo_section:hover {
  border: 1px solid white;
}

.log_image link,
img {
  display: flex;
  width: 100px;
  object-fit: contain;
  padding-top: 13px;
}
.log_image:hover {
  border: 1px solid white;
}
.delivery_section {
  display: flex;
  border-radius: 5px;
  color: #fff;
  gap: 3px;
  cursor: pointer;
  padding-top: 6px;
}
.delivery_section:hover {
  border: 1px solid white;
}

.delivery_section span,
p {
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  flex: 1;
}
.search select {
  padding: 11px;
  font-weight: bold;
  outline: 1px solid white;
  background-color: #ccc;
  color: #111;
}
.search input {
  padding: 10px;
  font-weight: bold;
  outline: 1px solid white;
  width: 100%;
  border: 1px solid white;
}
.search select {
  border: none;
}

.search svg {
  padding: 7px;
  background-color: #d49644;
}
.search:focus-within {
  border: 2px solid #d49644;
}

.flag {
  display: flex;
}
.flag img {
  width: 27px;
  height: 25px;
  padding: 1px;
  align-items: center;
  justify-items: center;
}
.En_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flag_and_En_wrapper {
  display: flex;
  color: #fff;
  align-items: center;
  text-decoration: none;
}
.flag_and_En_wrapper:hover {
  border: 1px solid white;
}
.flag_and_En_wrapper a {
  text-decoration: none;
}

.account_wrapper {
  width: 350px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account_Wrapper:hover {
  border: 1px solid white;
}
.account_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131921;
}
.account_link:hover {
  border: 1px solid white;
}

.account_link p {
  text-decoration: none;
  margin-left: 10px;
  margin-top: 15px;
  color: #ccc;
  font-size: 10px;
  display: flex;
  text-decoration: none;
  background-color: #131921;
}

.account_link option,
.span {
  color: white;
  background-color: #131921;
}

.account_link a {
  text-decoration: none;
}

.account_link span,
p {
  color: white;
}

.account_options,
select {
  background-color: #111;
  color: #fff;
  border: none;
}

.return_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.return_wrapper a {
  text-decoration: none;
}
.return_a {
  text-decoration: none;
}

.return_wrapper p {
  display: flex;
  color: #ccc;
  font-size: 10px;
  text-decoration: none;
  background-color: #131921;
}
.return_wrapper span {
  color: #fff;
}
.return_wrapper:hover {
  border: 1px solid white;
}

.cart_wrapper {
  display: flex;
  cursor: pointer;
  margin-top: 15px;
  padding-bottom: 10px;
}

.cart_icon {
  position: absolute;
  padding-top: 6px;
  color: #fff;
}

.ziro span {
  margin-left: 15px;

  font-weight: bolder;
  position: absolute;
  color: orange;
}
.cart_p span {
  text-decoration: none;
  background-color: #111;
}
.cart_p {
  font-weight: bold;
  top: -6px;
  font-size: 20px;
  background-color: #1a1a1a;
  left: 14px;
  text-decoration: none;
}
.cart_p {
  margin-left: 40px;
  margin-top: 15px;
  text-decoration: none;
}
.cart_wrapper:hover {
  border: 1px solid white;
}
.cart_p p {
  background-color: #1a1a1a;
}

.cart_p p,
a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .outer_wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.language {
  display: none;
}

/* THE LOWER HEADER STARTING HERE */
